{% extends 'layouts/index.html' %}

{% block content %}
    <h1>Product detail</h1>
    <h2>{{ product.title }} {{ product.rate }}</h2>
    <p>{{ product.content }}</p>
    <img src="/media/{{ product.image }}" width="500">
    {% for hashtag in product.hashtags.all %}
    <p><a href="#" class="btn btn-primary">#{{ hashtag }}</a></p>
    {% endfor %}
    <h2>Dates:</h2>
    <p>Created: {{ product.created_at }}</p>
    <p>Updated: {{ product.updated_at }}</p>

    <h1>Comments:</h1>
    {% for comment in product.comments.all %}
        <p>{{ comment.text }}</p>
    {% endfor %}


    <a href="update/">Update</a>

    <div class="create_comment">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Add comment">
        </form>
    </div>

{% endblock %}